*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

body{
	background: #84889c;
}
.register-form input {
    margin-bottom: 10px;
    display: block;
}

.register-form  input{
    width: 100%;
    border : 1px solid #9597a6;
    padding: 7px;
}

.registration_form {
    background: #545871;
    padding: 25px;
}

.form-title {
    text-align: center;
	font-size: 20px;
	color: #ebd0ce;
	letter-spacing: 5px;
    padding: 20px;
}

.register-button {
    margin-top: 7px;
    float: right;
}

.border {
  border-bottom: 1px solid #9597a6;
}

.register-form  label{
    color: #9597a6;
    margin-bottom: 2px;
}

.shoe-category img {
    width: 100%;
    border: 1px solid #9597a6 ;
}

.shoe-category {
    margin-top: 10px;
}

.banner {
    margin-top: 10px;
}

.banner img {
    width: 100%;
}

.customtab-wrapper {
	display: inline-block;
	vertical-align: top;
	margin:58px 0 25px;
	width: 100%;
}

.customtab-wrapper ul {
	margin: 0;
}

.customtab-wrapper ul li {
	margin: 0;
    float: left;
}

.register-section {
    padding: 20px;
    border : 1px solid #e2e2e2;
}

.login-block {
    padding: 20px;
    border : 1px solid #e2e2e2;
    margin-left: 10px;
}

.login-block input {
    width: 100%;
    padding: 7px;
}

.login-button {
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 7px;
}

.contact-form .row {
    margin-bottom: 10px;
}

.contact-button {
    float: right;
}